:root {
    --main-color: #4A5568;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-color: #f0f1f5;
}

header {
    padding: 24px 0 8px;
    margin: 0 auto;
    max-width: 1513px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
}

header .inner-logo1 {
    color: #4E9BDA;
    background-color: #F0F1F5;
    box-shadow: 8px 8px 16px #C6CFDD, -6px -6px 14px #FFFFFF;
    font-size: 18px;
    font-weight: 800;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

header .inner-logo2 {
    color: #4E9BDA;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .component {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .component .searchbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 220px;
    min-width: 220px;
    height: 40px;
    background: #F0F1F5;
    box-shadow: inset 4px 4px 10px #BFCAD9, inset -3px -3px 8px #FFFFFF;
    border-radius: 14px;
}

header .component .kinhlup {
    width: 16px;
    height: 16px;
    background-color: #666F7F;
    -webkit-mask: url("../img/rank/kinhlup.svg") no-repeat center;
    mask: url("../img/rank/kinhlup.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

header .component .searchbox input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: #666F7F;
}

header .component .searchbox input::placeholder {
    color: #666F7F;
}

header .component .searchbox input:focus {
    outline: none;
    border: none;
}

header .component .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F0F1F5;
    box-shadow: 4px 4px 10px #C6CFDD, -3px -3px 8px #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

header .component .notification .bell {
    width: 18px;
    height: 18px;
    background-color: #666F7F;
    -webkit-mask: url("../img/rank/bell.svg") no-repeat center;
    mask: url("../img/rank/bell.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

header .component .notification .new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -4px;
    top: -4px;
    font-size: 10px;
    font-weight: 800;
    background: #F6B855;
    box-shadow: 2px 2px 4px #DEB97C;
    border-radius: 10px;
    color: #ffffff;
}

header .component .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F0F1F5;
    box-shadow: 4px 4px 10px #C6CFDD, -3px -3px 8px #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.main {
    margin: 0 auto;
    max-width: 1513px;
    width: 95%;
    position: relative;
}

.main .uside {
    transform: scale(1.5);
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 40px;
}

.main .below-main {
    background-image: url(../img/discover/Rectangle\ 17.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1438px;
    width: 100%;
    height: 1008px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.main .above-main {
    background-image: url(../img/discover/Subtract.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1438px;
    width: 100%;
    height: 1008px;
    position: absolute;
    bottom: -1020px;
    left: 18px;
    z-index: 1;
    padding: 24px 34px;
    display: flex;
    flex-direction: column;
}

.main .above-main .intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main .above-main .intro .intro1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgba(163, 177, 198, 0.6), -1px -1px 3px rgba(255, 255, 255, 0.8);
}

.main .above-main .intro .intro2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #718096;
}

.main .above-main .main-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .above-main .main-body:nth-child(2) {
    margin-top: 32px;
}

.main .above-main .main-body:nth-child(3) {
    margin-top: 22px;
}


.main .above-main .main-body .main-body-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-color);
    text-shadow: 1px 1px 3px rgba(163, 177, 198, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.main .above-main .main-body .card-box {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main-body .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
} 

.main-body .filters .inner-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.main-body .filters .inner-filters .select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    background: #E0E5EC;
    box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 10px #FFFFFF;
    border-radius: 9999px;
    color: var(--main-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}

.main-body .filters .inner-filters .down {
    width: 14px;
    height: 14px;
    background-color: #718096;
    -webkit-mask: url("../img/discover/arrowdown.svg") no-repeat center;
    mask: url("../img/discover/arrowdown.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.main-body .filters .searchbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
    max-width: 570px;
    min-width: 200px;
    width: 100%;
    background: #E0E5EC;
    box-shadow: inset 5px 5px 10px #A3B1C6, inset -5px -5px 10px #FFFFFF;
    border-radius: 9999px;
}

.main-body .filters .searchbox input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: #9CA3AF;
}

.main-body .filters .searchbox input::placeholder {
    color: #9CA3AF;
}

.main-body .filters .searchbox input:focus {
    outline: none;
    border: none;
}

.main-body .filters .searchbox .outer-kinhlup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #E0E5EC;
    box-shadow: 3px 3px 6px #A3B1C6, -3px -3px 6px #FFFFFF;
    border-radius: 50%;
}

.main-body .filters .searchbox .outer-kinhlup .kinhlup {
    width: 14px;
    height: 14px;
    background-color: #718096;
    -webkit-mask: url("../img/rank/kinhlup.svg") no-repeat center;
    mask: url("../img/rank/kinhlup.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.pagination {
    margin: 26px auto 0;
    display: flex;
    gap: 8px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F0F1F5;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.nav-btn.hidden {
    display: none;
}

.page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F0F1F5;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.page-btn.active {
    border: none;
    background: linear-gradient(90deg, #6B7280 0%, #F0F1F5 100%);
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
